:root {
  --black-100: rgba(34, 24, 3, 1);
  --black-80: rgba(34, 24, 3, .8);
  --black-60: rgba(34, 24, 3, .6);
  --black-40: rgba(34, 24, 3, .4);
  --black-20: rgba(34, 24, 3, .2);
  --black-10: rgba(34, 24, 3, .1);
  --white-100: rgb(246, 244, 238);
  --white-80: rgba(246, 244, 238, .8);
  --white-60: rgba(246, 244, 238, .6);
  --white-40: rgba(246, 244, 238, .4);
  --white-20: rgba(246, 244, 238, .2);
  --red-100: rgb(178, 36, 4);
  --breakpoint-sm: 600px;
}